*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,*::after{
    box-sizing: border-box;
}

@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.page{
    height: 100vh;
    background: url(https://p4.music.126.net/C5X-M8V0LDpRKk1GhzXw6A==/109951163891633952.jpg) no-repeat center;
    background-size: cover;    
}
.deepColor{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
}
.disc-container{
    position: relative;
}
.disc-container .icon{
    width: 10vw;
    fill:white;
}
.disc-container .icon-wrapper{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16vw;
    height: 16vw;
    border: 1px solid white;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5)
}
.disc-container .icon-pause{
    display: none;
}
.disc-container.playing .icon-play{
    display: none;
}
.disc-container.playing .icon-pause{
    display: block;
}
.disc-container .pointer{
    width: 25vw;
    position: absolute;
    left: 46%;
}
.disc-container .disc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18vw;
}
.disc-container .ring{
    width: 79vw;
}
.disc-container .light{
    width: 79vw;
    position: absolute;
    animation: circle 20s infinite linear;
    animation-play-state: paused;
}
.disc-container .cover{
    width: 50vw;
    position: absolute;
    border-radius: 50%;
    animation: circle 20s infinite linear;
    animation-play-state: paused;
}
.disc-container.playing .light,.disc-container.playing .cover{
    animation-play-state: running;
}
.song-description{
    color: #aeabac;
    text-align: center;
    line-height: 2;
    margin-top: 16px;
    flex-grow: 1;
}
.song-description h1{
    font-size: 18px;
    color: white;
    line-height: 1.1;
    margin-bottom: 4vw;
}
.song-description .lines{
    transition: transform 0.3s;
}
.song-description p{
    font-size: 16px;
    line-height: 32px;   
}
.song-description p.active{
    color: white;
}
.song-description .lyric{
    height:84px;
    overflow: hidden;
}
.page .links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page .links a{
    width: 38.5vw;
    margin: 1em;
    border: 1px solid #d43b32;
    text-align: center;
    padding: 1.5vw;
    color: #d43b32;
    text-decoration: none;
    background: transparent;
    letter-spacing: 1vw;
    border-radius: 5vw;
}
.page .links a.main{
    background: #d43b32;
    color: white;
}